<div>
  <patient-auth-display
      page="submission"
      client-info="$ctrl.clientInfo">
  </patient-auth-display>
  <br aria-hidden="true"/>
  <div class="row">
    <div class="col-xs-12">
      <p translate="authOtherPatientContainer.PATIENT_INFO_MESSAGE"
    translate-values="{ name_key : '{{$ctrl.multitenancy.NAME_KEY | translate}}',
                           phone_key : '{{$ctrl.multitenancy.PHONE_KEY | translate}}'}"
      translate-compile>
      </p>
    </div>
  </div>
  <hr />

  <h2>{{ 'authOtherPatientContainer.ADDITIONAL_INFORMATION' | translate }}</h2>
  <div class="row">
    <div class="col-xs-12">
      <p>
        {{ 'authOtherPatientContainer.ENTER_MISSING_INFO' | translate }}
      </p>
    </div>
  </div>

  <!--Health Card Number-->
  <div class="row">
    <!--Health Card Number-->
    <div class="form-group col-xs-12 col-sm-12 col-md-6">
      <!--Health Card Number-->
      <label for="patient-hcn" translate='authOtherPatientContainer.HEALTH_CARD_NUMBER' aria-label="{{'authOtherPatientContainer.HEALTH_CARD_NUMBER' | translate}}"></label>
      {{'authOtherPatientContainer.OPTIONAL' | translate}}

      <!--Non Mobile -->
      <div class="icon-mask-display">
        <input ng-model="$ctrl.localPatient.healthCardNumber"
               name="healthCardNumber"
               id="patient-hcn" class="form-control"
               type="text"
               icon-hcn-checksum
               ui-options="$ctrl.hcnOptions"
               ui-mask="AAAA-AAA-AAA" ui-mask-placeholder ui-mask-placeholder-char="_"
               autocomplete="off" />
      </div>

      <!-- Mobile -->
      <div class="icon-display-mobile">
        <input ng-model="$ctrl.localPatient.healthCardNumber"
               name="healthCardNumberMobile"
               id="patient-hcn" class="form-control"
               type="text"
               icon-hcn-checksum
               autocomplete="off" />
      </div>

      <span>{{ 'authOtherPatientContainer.HEALTH_CARD_NO_VC' | translate }}</span>
      <!--Error Messages-->
      <div class="error-messages icon-mask-display" id="patient-hcn-error" ng-messages="$ctrl.form.healthCardNumber.$error" ng-if="$ctrl.form.healthCardNumber.$touched" role="alert">
        <div ng-message="iconHcn"
             class="alert alert-danger col-xs-12"
             translate='authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR'
             aria-label="{{'authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR' | translate}}"></div>
        <div ng-message="mask"
             class="alert alert-danger col-xs-12"
             translate='authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR'
             aria-label="{{'authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR' | translate}}"></div>
      </div>

      <div class="error-messages icon-display-mobile" id="patient-hcn-error" ng-messages="$ctrl.form.healthCardNumberMobile.$error" ng-if="$ctrl.form.healthCardNumberMobile.$touched" role="alert">
        <div ng-message="iconHcn"
             class="alert alert-danger col-xs-12"
             translate='authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR'
             aria-label="{{'authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR' | translate}}"></div>
        <div ng-message="mask"
             class="alert alert-danger col-xs-12"
             translate='authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR'
             aria-label="{{'authSelfPatientContainer.ERRORS.HCN_FORMAT_ERROR' | translate}}"></div>
      </div>
      <!--End Error Messages-->
    </div>
  </div>
  <!--End Health Card Number-->

<br aria-hidden="true" />

  <!--Patient School or Daycare-->
  <auth-school-daycare
    form="$ctrl.form"
    local-patient="$ctrl.localPatient">
  </auth-school-daycare>
  <!--End School or Daycare-->

  <hr />
</div>
