<!-- Legal -->
<div class="icon-aup-container">
  <div tabindex="2" id="welcome-divider" class="row">
    <h1>{{'welcomeAUP.HEADER' | translate}}</h1>
  </div>

  <div class="row">
    <form>
      <fieldset
      class="legal-fieldset"
      ng-if="$ctrl.language === 'en'"
      ng-include="'./phu/aupEN.template.html'">
      </fieldset>

      <fieldset
      class="legal-fieldset"
      ng-if="$ctrl.language === 'fr'"
      ng-include="'./phu/aupFR.template.html'">
      </fieldset>
    </form>

    <a class="col-xs-12 text-center"
       id="aup-terms-of-use-link"
       ng-href="{{multitenancy.TOC_LINK_KEY | translate }}"
       target="_blank">
         {{ 'welcomeAUP.ACK_TERMS_READ' | translate}}
    </a>
  </div>

  <div class="row">
    <hr />
    <div class="col-xs-12 col-sm-6 text-center">
      <button class="btn btn-block btn-xl btn-primary"
              id="aup-accept-button"
              ng-click="$ctrl.acceptLegalAgreement()">
                {{ 'welcomeAUP.ACCEPT' | translate }}
      </button>
    </div>
    
    <div class="col-xs-12 hidden-xl hidden-lg hidden-md hidden-sm"><h4/></div>

    <div class="col-xs-12 col-sm-6 text-center icon-xs-stacked-bottom-margin">
      <button class="btn btn-block btn-xl btn-danger"
              id="aup-decline-button"
              ng-click="$ctrl.doNotAccept()">
                {{ 'welcomeAUP.DO_NOT_ACCEPT' | translate }}
      </button>
    </div>
  </div>
</div>
<!-- End Legal -->
