<div class="row">
  <div class="col-xs-12">
    <h3 translate="submitAnother.NEXT_STEP"></h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <button class="icon-btn-link" tabindex="-1" id="completion-home" ng-click="$ctrl.returnHome()">
        <span class="pull-left fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
      </button>
    </div>

    <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-xs-9">
      <button class="icon-btn-link" id="{{$ctrl.buttonId}}" ng-click="$ctrl.returnHome()">
        <div aria-hidden="true" class="col-xs-12"><h5/></div>
        <div class="text-left pull-left" translate="submitAnother.RETURN_HOME"></div>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4 translate="submitAnother.CONTINUE_BELOW"></h4>
  </div>
</div>

<hr />
<welcome-login-choice></welcome-login-choice>
