<div class="row">
  <div class="col-xs-12">
    <h3 translate="welcomeAuthActions.AUTH_ACTION_TITLE"></h3>
    <p translate="welcomeAuthActions.AUTH_ACTION_PARA"></p>
  </div>

  <div class="col-xs-12">
    <form name="submitWithOiidForm" id="submitWithOiidForm">
      <div class="form-group">
        <oiid-capture
        form="submitWithOiidForm"
        oiid="$ctrl.patientInfo.oiid"
        isOptional="false">
        </oiid-capture>
      </div>

      <button
      class="btn btn-primary icon-btn-md"
      id="submitWithOiidButton"
      type="button"
      translate="welcomeAuthActions.AUTH_ACTION_VERIFY_BUTTON"
      ng-click="$ctrl.goToPINInput(submitWithOiidForm)">
      </button>
    </form>
  </div>

  <div class="col-xs-12">
    <p translate="welcomeAuthActions.AUTH_ACTION_OIID_HINT" translate-compile></p>
  </div>
</div>
