<h3 class="text-center" translate="immunizationInput.ENTER_IMMUNIZATIONS"
translate-values="{ patient_name : $ctrl.patient.firstName }" translate-compile></h3>

<immunizations-by-date
class="row"
ng-if="$ctrl.immunizationDisplayMode === 'date'"
immunizations="$ctrl.immunizations"
add="$ctrl.addImmunization(immunization)"
on-remove="$ctrl.removeImmunization(immunization)"
open-modal="$ctrl.openImmunizationModal">
</immunizations-by-date>

<immunizations-by-agent
class="row"
ng-if="$ctrl.immunizationDisplayMode === 'agent'"
immunizations="$ctrl.immunizations"
add="$ctrl.addImmunization(immunization)"
on-remove="$ctrl.removeImmunization(immunization)"
open-modal="$ctrl.openImmunizationModal">
</immunizations-by-agent>

<hr />

<div class="row">
  <div class="error-messages" id="no-immunization-error"  ng-if="$ctrl.noImmunizations" role="alert">
    <div class="alert alert-danger col-xs-12">
        {{ 'immunizationInput.IMMUNIZATION_ERROR' | translate }}
    </div>
  </div>
</div>

<next-prev-buttons
on-next="$ctrl.validateImmunizations()">
</next-prev-buttons>
