<div class="panel panel-default">
  <div class="panel-heading">
    <span
    ng-if="$ctrl.immunizations.length > 1"
    class="pull-right">
      <button class="btn btn-link icon-btn-link-danger"
      ng-click="$ctrl.removeImmunizationGroup()">
        {{'immunizationsGroupedByAgent.DELETE_GROUP' | translate}}
        <span class="badge icon-color-white icon-background-danger">{{$ctrl.immunizations.length}}</span>
      </button>
    </span>

    <h4 id="immunizations-date-header">
      <span class="fa fa-imm-vial"></span>

      <immunization-display
      immunization="$ctrl.immunizations[0]">
      </immunization-display>
    </h4>
    <div>{{$ctrl.immunizations[0].agent.orderedDiseases}}</div>
  </div>

  <ul class="list-group">
    <ng-transclude></ng-transclude>
  </ul>

  <div class="panel-footer icon-panel-footer-btn">
    <button
    class="btn btn-primary btn-block btn-lg"
    ng-click="$ctrl.openAddImmunizationSameAgent()">
      <span class="fa fa-plus-circle"></span>
      {{ 'immunizationsGroupedByAgent.DATE_FOR_IMMUNIZATION' | translate }}
    </button>
  </div>
</div>
