<div ng-if="!$ctrl.yellowCardRows.length"
class="text-center lead"
translate="yellowCardDisplay.NO_IMMS"
translate-compile>
</div>

<div ng-if="$ctrl.yellowCardRows.length" class="icon-yc-table-container">
  <table class="table icon-yc-table  icon-table-styling-imms">
    <thead>
      <tr>
        <th class="icon-yc-date small">
          {{'yellowCardDisplay.YMD' | translate}}
        </th>

        <th class="icon-yc-disease-headers" ng-repeat="disease in $ctrl.yellowCardHeaders">
          <div>
            <span>{{disease.name}}</span>
          </div>
        </th>

        <th class="icon-yc-more-info">
          {{'yellowCardDisplay.ADDITIONAL_INFO' | translate}}
        </th>
      </tr>
    </thead>

    <tbody ng-repeat="row in $ctrl.yellowCardRows track by $index">
      <!-- Summary row, contains all the checkmarks for the collection of immunizations. -->
      <tr tabindex="0">
        <td>
          <div>{{row.date}}</div>
        </td>

        <td ng-repeat="disease in $ctrl.yellowCardHeaders">
          <span ng-if="(row.diseases.indexOf(disease.snomed) >= 0)" class="text-primary">
            <span class="fa fa-check" aria-label="{{ disease.name }}"></span>
          </span>
        </td>

        <td class="icon-yc-more-info-td" id="icon-more-info-td">
          <button class="btn-link ycbutton" tabindex="0" id="yellow-card-more-info" ng-if="!row.isDetailView" ng-click="row.isDetailView = !row.isDetailView">{{ 'yellowCardDisplay.SHOW_INFO' | translate}}</button>

          <button class="btn-link ycbutton" tabindex="0" id="yellow-card-less-info" class="pull-right" ng-if="row.isDetailView" ng-click="row.isDetailView = !row.isDetailView">{{ 'yellowCardDisplay.HIDE_INFO' | translate}}</button>

          <div ng-if="row.isDetailView" ng-repeat="imm in row.immunizations">
            <!-- Generic/agent title data. -->
            <div ng-if="imm.agent.shortName">  <!-- previously it was ng-if="imm.getType() === 'Trade'" -->
              <strong>{{imm.agent.shortName}}</strong>
            </div>
            <!-- End generic/agent title data. -->

            <!-- Branded/trade title data. --> 
            <div ng-if="imm.trade.name">
              <strong>{{imm.agent.shortName}} ({{imm.trade.name}})</strong>
            </div>
            <!-- End branded/trade title data. -->

            <div class="small" ng-if="imm.agent.diseases.length">
              <span ng-repeat="disease in imm.agent.diseases track by $index">
                {{(imm.agent.diseases.length > 1 && $index < imm.agent.diseases.length - 1) ? disease.name+', ' : disease.name}}
              </span>
            </div>

            <div class="small">
              <div ng-if="imm.lot.number"><strong>Lot #{{imm.lot.number}}</strong></div>
              <!-- <div ng-if="imm.provider">{{imm.provider}}</div> -->
              <div ng-if="imm.isDateApproximate">({{ 'yellowCardDisplay.DATE_ESTIMATE' | translate}})</div>
            </div>
          </div>
        </td>
      </tr>
      <!-- End summary row. -->
    </tbody>
  </table>
</div>
