<!-- Gating question 1 -->
<!-- Collapsed -->
<uib-accordion close-others="false" ng-show="$ctrl.gatingQuestion >= 1" class="icon-gating-collapse">
  <div uib-accordion-group  is-open="$ctrl.gating1Collapse">
    <uib-accordion-heading>
      <h4 ng-if="!$ctrl.gating1Collapse" ng-click="!$ctrl.gating1Collapse">
        {{'immunizationGating.COLLAPSED_1' | translate}}
        <span class="icon-gating-collapse-link">
          <span ng-if="$ctrl.question1Choice !== ''">({{$ctrl.question1Choice}})</span>
          <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
        </span>
      </h4>

      <div ng-if="$ctrl.gating1Collapse" >
        <span class="icon-gating-collapse fa fa-chevron-up pull-right" aria-hidden="true"></span>
        <span id="received_letter" translate="immunizationGating.RECEIVED_LETTER"
           translate-values="{ phuName : '{{$ctrl.multitenancy.NAME_KEY | translate}}' }"
           translate-compile>
        </span>
      </div>
    </uib-accordion-heading>

    <div id="question-1-options" class="col-xs-12" role="group" tabindex="0" aria-labelledby="received_letter" aria-describedby="received_letter">
      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question1Choice"
               value="{{$ctrl.yes}}"
               ng-model="$ctrl.question1Choice"
               ng-change="$ctrl.gatingQuestionChange(1, false, 1)"
               id="immunizations-first-yes-button"/>
        <label for="immunizations-first-yes-button">{{ 'immunizationGating.YES' | translate }}</label>
      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question1Choice"
               value="{{$ctrl.no}}"
               ng-model="$ctrl.question1Choice"
               ng-change="$ctrl.gatingQuestionChange(2, false, 1)"
               id="immunizations-first-no-button"/>
        <label for="immunizations-first-no-button">{{ 'immunizationGating.NO' | translate }}</label>
      </div>
    </div>
  </div>
</uib-accordion>
<!-- End Gating question 1 -->


<!-- Gating question 2 -->
<uib-accordion ng-show="$ctrl.gatingQuestion >= 1 && $ctrl.question1Choice !== ''" class="icon-gating-collapse">
  <div uib-accordion-group  is-open="$ctrl.gating2Collapse">
    <uib-accordion-heading>
      <h4 ng-if="!$ctrl.gating2Collapse" ng-click="!$ctrl.gating2Collapse">
        {{'immunizationGating.COLLAPSED_2' | translate}}
        <span class="icon-gating-collapse-link">
          <span ng-if="$ctrl.question2Choice !== ''">({{$ctrl.question2Choice}})</span>
          <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
        </span>
      </h4>

      <div ng-if="$ctrl.gating2Collapse" >
        <span class="icon-gating-collapse fa fa-chevron-up pull-right" aria-hidden="true"></span>
        <span id="received_letter"  translate="immunizationGating.IMMUNIZATIONS_RECEIVED_ONTARIO" translate-compile>
        </span>
      </div>
    </uib-accordion-heading>

    <div id="question-2-options" class="col-xs-12" role="group" tabindex="0" aria-labelledby="ontario_immu_received" aria-describedby="ontario_immu_received">
      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question2Choice"
               value="{{$ctrl.yes}}"
               ng-model="$ctrl.question2Choice"
               ng-change="$ctrl.gatingQuestionChange(2, true, 2)"
               id="immunizations-second-yes-button"/>
        <label for="immunizations-second-yes-button">{{ 'immunizationGating.YES' | translate }}</label>
      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question2Choice"
               value="{{$ctrl.no}}"
               ng-change="$ctrl.gatingQuestionChange(3, false, 2)"
               ng-model="$ctrl.question2Choice"
               id="immunizations-second-no-button"/>
        <label for="immunizations-second-no-button">{{ 'immunizationGating.NO' | translate }}</label>
      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question2Choice"
               value="{{$ctrl.unsure}}"
               ng-change="$ctrl.gatingQuestionChange(3, false, 2)"
               ng-model="$ctrl.question2Choice"
               id="immunizations-second-unsure-button"/>
        <label for="immunizations-second-unsure-button">{{ 'immunizationGating.UNSURE' | translate }}</label>
      </div>
    </div>
  </div>
</uib-accordion>
<!-- End Gating question 2 -->

<!-- Gating question 3 -->
<uib-accordion ng-show="$ctrl.gatingQuestion >= 1 && $ctrl.question2Choice !== '' && $ctrl.question2Choice !== '{{$ctrl.yes}}'" class="icon-gating-collapse">
  <div uib-accordion-group  is-open="$ctrl.gating3Collapse">
    <uib-accordion-heading>
      <h4 ng-if="!$ctrl.gating3Collapse" ng-click="!$ctrl.gating3Collapse">
        {{'immunizationGating.COLLAPSED_3' | translate}}
        <span class="icon-gating-collapse-link">
          <span ng-if="$ctrl.question3Choice !== ''">({{$ctrl.question3Choice}})</span>
          <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
        </span>
      </h4>

      <div ng-if="$ctrl.gating3Collapse" >
        <span class="icon-gating-collapse fa fa-chevron-up pull-right" aria-hidden="true"></span>
        <span id="received_letter"  translate="immunizationGating.IMMUNIZATIONS_RECEIVED_CANADA" translate-compile>
        </span>
      </div>
    </uib-accordion-heading>

    <div id="question-3-options" class="col-xs-12" role="group" tabindex="0" aria-labelledby="canada_immu_received" aria-describedby="canada_immu_received">
      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question3Choice"
               value="{{$ctrl.yes}}"
               ng-model="$ctrl.question3Choice"
               ng-change="$ctrl.gatingQuestionChange(3, true, 3)"
               id="immunizations-third-yes-button" />
        <label for="immunizations-third-yes-button">{{ 'immunizationGating.YES' | translate }}</label>

      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question3Choice"
               value="{{$ctrl.no}}"
               ng-change="$ctrl.gatingQuestionChange(4, true, 3)"
               ng-model="$ctrl.question3Choice"
               id="immunizations-third-no-button"/>
        <label for="immunizations-third-no-button">{{ 'immunizationGating.NO' | translate }}</label>
      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question3Choice"
               value="{{$ctrl.unsure}}"
               ng-change="$ctrl.gatingQuestionChange(4, true, 3)"
               ng-model="$ctrl.question3Choice"
               id="immunizations-third-unsure-button"/>
        <label for="immunizations-third-unsure-button">{{ 'immunizationGating.UNSURE' | translate }}</label>
      </div>
    </div>
  </div>
</uib-accordion>
<!-- End Gating question 3 -->

<!-- Gating question 4 -->
<uib-accordion ng-show="$ctrl.displayGroupByChoice" class="icon-gating-collapse">
  <div uib-accordion-group  is-open="$ctrl.gating4Collapse">
    <uib-accordion-heading>
      <h4 ng-if="!$ctrl.gating4Collapse" ng-click="!$ctrl.gating4Collapse">
        {{'immunizationGating.COLLAPSED_4' | translate}}
        <span class="icon-gating-collapse-link">
          <span ng-if="$ctrl.question4Choice !== ''">({{$ctrl.question4Choice}})</span>
          <span class="fa fa-chevron-down pull-right" aria-hidden="true"></span>
        </span>
      </h4>

      <div ng-if="$ctrl.gating4Collapse" >
        <span class="fa fa-chevron-up pull-right" aria-hidden="true"></span>
        <span id="received_letter"  translate="immunizationGating.IMMUNIZATIONS_GROUPED_BY" translate-compile></span>
      </div>
    </uib-accordion-heading>


    <div id="question-4-options" class="col-xs-12" role="group" tabindex="0" aria-labelledby="immu_grouped_by" aria-describedby="immu_grouped_by">
      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question4Choice"
               value="{{$ctrl.displayModeDate}}"
               ng-model="$ctrl.question4Choice"
               ng-change="$ctrl.displayImmunizationInput(0)"
               id="immunizations-fourth-groupbydate-button"/>
        <label for="immunizations-fourth-groupbydate-button">{{ 'immunizationGating.GROUP_BY_DATE' | translate }}</label>

        <div uib-alert tabindex="0" aria-labelledby="example-group-by-date" class="alert alert-info">
          <h4 class="alert-heading">2012-03-26</h4>
          <span>DTaP-IPV-Hib</span><br aria-hidden="true"/>
          <span>Pneu-C</span><br aria-hidden="true"/>
          <span>Rota-1</span>
        </div>
      </div>

      <div class="col-xs-12">
        <input type="radio"
               class="col-xs-1"
               name="question4Choice"
               value="{{$ctrl.displayModeImms}}"
               ng-model="$ctrl.question4Choice"
               ng-change="$ctrl.displayImmunizationInput(1)"
               id="immunizations-fourth-groupbyimm-button"/>
        <label for="immunizations-fourth-groupbyimm-button">{{ 'immunizationGating.GROUP_BY_IMM' | translate }}</label>

        <div uib-alert tabindex="0" aria-labelledby="example-group-by-immunization" class="alert alert-info">
          <h4 class="alert-heading">DTaP-IPV-Hib</h4>
          <span>2012-03-26</span><br aria-hidden="true"/>
          <span>2012-05-21</span><br aria-hidden="true"/>
          <span>2012-07-17</span>
        </div>
      </div>
    </div>
  </div>
</uib-accordion>
<!-- End Gating question 4 -->

<div ng-if="$ctrl.displayImmunizations ">
  <immunization-input display-mode="$ctrl.displayMode"></immunization-input>
</div>
