<!-- When the patient is younger than 2 years, display age in months and days. -->
<div ng-if="$ctrl.age.years < 2">
  {{ 'ageDisplay.AGE' | translate }} (approx):

  <span ng-if="$ctrl.age.months > 0">
    {{($ctrl.age.years * 12) + $ctrl.age.months}} {{'ageDisplay.MONTH' | translate}}{{($ctrl.age.months > 1) ? 's' : ''}}
  </span>
</div>

<!-- When the patient is younger than 2 years, display age in years. -->
<div ng-if="$ctrl.age.years >= 2">
  {{ 'ageDisplay.AGE' | translate }} (approx):

  <span>
    {{$ctrl.age.years}} {{'ageDisplay.YEAR' | translate}}{{($ctrl.age.years > 1) ? 's' : ''}}
  </span>
</div>
