<div class="modal-header">
  <span class="icon-modal-close-button pull-right" aria-label="Close Button" ng-click="$ctrl.close()">
      <em class="fa fa-times-circle fa-2x"></em>
    </span>
  <h4>
    <span
    translate="editImmunization.IMMUNIZATION_MODAL_TITLE"
    translate-values="{ patient_name : $ctrl.patient.firstName }" translate-compile>
    </span>
  </h4>
</div>

<div class="modal-body">
  <form
  name="addImmunizationForm"
  autocomplete="off">

    <div ng-class="{'col-xs-12 col-sm-7': $ctrl.gatingQuestion === 2, 'col-xs-12' : $ctrl.gatingQuestion !== 2}">

      <!-- Date capture -->
      <div class="form-group">

        <datepicker
        input-id="immunizations-date-input"
        input-name="immunizationGroupDate"
        model="$ctrl.immunization.date"
        form-name="addImmunizationForm"
        min-date="{{$ctrl.minDate}}"
        on-after-select="$ctrl.afterSelectDate(date)"
        ng-required="true">
          <label for="immunizations-date-input" aria-label="{{ 'editImmunization.DATE_LABEL' | translate }}">
            {{ 'editImmunization.DATE' | translate }}
          </label>
        </datepicker>
      </div>

      <div class="form-group">
        <!-- Toggle glyph mirrors checkbox input -->
        <span class="icon-text-large">
          <span
          class="fa fa-1x"
          ng-class="{
            'fa-toggle-on text-primary': $ctrl.immunization.isDateApproximate,
            'fa-toggle-off text-muted': !$ctrl.immunization.isDateApproximate
          }"
          ng-click="$ctrl.immunization.isDateApproximate = !$ctrl.immunization.isDateApproximate"
          aria-hidden="true">
          </span>
        </span>
        <!-- Checkbox input available for screen-readers -->
        <input class="sr-only" id="is-date-approximate" type="checkbox" ng-model="$ctrl.immunization.isDateApproximate" />

        <label class="text" for="is-date-approximate">{{'editImmunization.DATE_ESTIMATED' | translate}}</label>
      </div>
      <!-- End date capture -->

      <!-- Immunization capture -->
      <div class="form-group">
        <immunization-typeahead
        model="$ctrl.immunization"
        on-after-select="$ctrl.setIsDuplicateImmunization()">
        </immunization-typeahead>

        <!--Error Messages-->
        <div class="error-messages" id="no-immunizations-selected"  ng-if="addImmunizationForm.selectedVaccine.$touched && $ctrl.immunization.agent.snomed === ''">
          <div class="alert alert-danger col-xs-12"
               aria-label="" id="immunization-error" role="alert">{{ 'editImmunization.IMMS_ERROR' | translate}}</div>
        </div>
        <!--End Error Messages-->
      </div>

      <div class="form-group">
        <immunization-lot-input
        immunization="$ctrl.immunization"
        snomed="$ctrl.immunization.trade.snomed">
        </immunization-lot-input>
      </div>
      <!-- End immunization capture -->


      <div class="alert alert-warning text-left" ng-if="$ctrl.isDuplicateImmunization">
        <span class="fa fa-exclamation-triangle"></span>
        <span
            translate="editImmunization.DUPLICATE_WARNING"
            translate-compile
            translate-values="{
          agentName: $ctrl.immunization.agent.shortName,
          date: $ctrl.formatDate($ctrl.immunization.date)
          }">
        </span>
      </div>

      <button class="btn btn-primary btn-block"
              type = "submit"
              id="immunizations-save"
              ng-disabled="$ctrl.isDuplicateImmunization"
              ng-click="$ctrl.save($ctrl.immunization, addImmunizationForm)">
        {{ 'editImmunization.SAVE' | translate }}
      </button>

    </div>


    <div class="col-sm-5" ng-show="$ctrl.gatingQuestion === 2">
      <span class="fa-stack fa-2x icon-scroll-button-up" ng-click="$ctrl.scrollUp()" aria-hidden="true">
        <em class="fa fa-circle fa-stack-2x icon-scroll-button-background"></em>
        <em class="fa fa-chevron-up fa-stack-1x"></em>
      </span>

      <span class="fa-stack fa-2x icon-scroll-button-down" ng-click="$ctrl.scrollDown()" aria-hidden="true">
        <em class="fa fa-circle fa-stack-2x icon-scroll-button-background"></em>
        <em class="fa fa-chevron-down fa-stack-1x"></em>
      </span>
    </div>

    <!-- Ontario Schedule Image -->
    <div id="ontario-vertical-schedule-container" class="col-sm-5 icon-schedule-vertical" ng-show="$ctrl.gatingQuestion === 2" du-scroll-container>

      <img id="ontario-vertical-schedule" alt="Ontario Schedule" src="../../../img/schedule-stacked.png" />
      <br />
    </div>
    <!-- End Ontario Schedule Image -->

  </form>
</div>

<div class="modal-footer center-block">

</div>
