<div class="row">

  <!-- Previous button -->
  <div ng-if="$ctrl.previous && !$ctrl.fromReviewPage" class="col-xs-12 col-md-6 pull-left">
    <button class="btn btn-block btn-lg btn-default"
            id="page-previous-button"
            type="button"
            ng-click="$ctrl.previousPage()">
      <span translate="nextPrevButtons.PREVIOUS"></span>
      <span translate="{{$ctrl.previous.title}}"></span>
    </button>
    <br />
  </div>

  <div class="col-xs-12 hidden-xl hidden-lg hidden-md hidden-sm"><h4/></div>
  <!-- Regular next button -->
  <div ng-if="$ctrl.next && !$ctrl.fromReviewPage" class="col-xs-12 col-md-6" ng-class="{'col-md-offset-3': !$ctrl.previous}">
    <button class="btn btn-block btn-lg btn-primary"
            id="pager-next-button"
            type="submit"
            ng-click="$ctrl.nextPage()">
      <span translate="nextPrevButtons.PROCEED"></span>
      <span>{{$ctrl.next.title | translate}}</span>
    </button>
  </div>

  <!-- Back to review button -->
  <div ng-if="!$ctrl.isReviewPage && $ctrl.fromReviewPage" class="col-xs-12 col-md-6 col-md-offset-3">
    <button class="btn btn-block btn-lg btn-primary"
            id="pager-next-button"
            type="submit"
            ng-click="$ctrl.nextPage()">
      <span translate="nextPrevButtons.RETURN_TO_REVIEW"></span>
    </button>
  </div>

</div>
